.copilot-status-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
    width: 18px;
    height: 18px;
  }
}

.copilot-inline-suggestion {
  opacity: 0.4;
}

.copilot-modal-auth-box {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.copilot-settings-hotkeys-container {
  padding: 0.75em 0;
  border-top: 1px solid var(--background-modifier-border);
}